api-client
click
click_completion
click_help_colors
colorama
coloredlogs
datetime
jsondiff
pandas
prismacloud-api==5.2.8
pydantic~=1.10.0
requests
tabulate
update_checker
pyyaml
pytest
pytest-benchmark
